.Carousel{
    box-sizing: border-box;
    height: 100%;
    width: 90%;

}

.CanvaSlide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}



.CanvaSlide > img{
    margin:0;
    width: 85%;
    height: 80%;
}

.CanvaSlide > .SlideInfo{
    position: relative;
    display: flex;
    height: 20%;
    width: 85%;

}

.CanvaInfo::after{
    content: "";
    
}

.CanvaNameCategory{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.CanvaPrice{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: end;
    align-items: flex-end;
}

.CanvaPrice > span {
    height: fit-content;
    width: fit-content;
    font-size: 1.5rem;
}


.swiper-button-next{
  background-image: url('./../../assets/imgs/NextS.svg');
}

.swiper-button-prev{
 background-image: url('./../../assets/imgs/PrevS.svg');
}


.swiper-button-next,
.swiper-button-prev{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after{
 display: none;
}

.SlideCategory{
    font-size: 1.5rem !important;
}

.SlideName{
    font-size: 2.5rem !important;
}

.SlidePrice{
    font-size: 2rem !important;
}